body {
  background-image: url('c7.jpg');
  display: flex;
  height: 100vh;
  margin: 0;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 560px;
  --blur: 2px;
}

/*frame*/
.border {
  box-sizing: border-box;
  position: relative;
  background: black;
  background-image: -webkit-gradient(linear, right top, left bottom, from(#111), to(#000));
  padding: 20px;
  box-shadow: 
    -1px 1px var(--blur) 1px rgba(0, 0, 0, 0.1), 
    -2px 2px var(--blur) 1px rgba(0, 0, 0, 0.09), 
    -3px 3px var(--blur) 1px rgba(0, 0, 0, 0.08), 
    -4px 4px var(--blur) 1px rgba(0, 0, 0, 0.07), 
    -5px 5px var(--blur) 1px rgba(0, 0, 0, 0.06), 
    -6px 6px var(--blur) 1px rgba(0, 0, 0, 0.05), 
    -7px 7px var(--blur) 1px rgba(0, 0, 0, 0.04), 
    -8px 8px var(--blur) 1px rgba(0, 0, 0, 0.03), 
    -9px 9px var(--blur) 1px rgba(0, 0, 0, 0.03), 
    -10px 10px var(--blur) 1px rgba(0, 0, 0, 0.03), 
    -11px 11px var(--blur) 1px rgba(0, 0, 0, 0.03), 
    -12px 12px var(--blur) 1px rgba(0, 0, 0, 0.02), 
    -13px 13px var(--blur) 1px rgba(0, 0, 0, 0.02), 
    -14px 14px var(--blur) 1px rgba(0, 0, 0, 0.01), 
    -15px 15px var(--blur) 1px rgba(0, 0, 0, 0.01), 
    -16px 16px var(--blur) 1px rgba(0, 0, 0, 0.01);
    &:before{
    content: ' ';
    display: block;
    opacity: 0.7;
    padding-bottom: 100%;
    }
  }

.frame {
  left: 3%;
  top: 2.5%;
  box-shadow: inset -1px 1px 6px 1px rgba(0, 0, 0, 0.24);
  background: #CCE9FC;
  align-items: center;
  display: flex;
  padding: 40px;
  box-sizing: border-box;
  width: 560px; /*  change to 100px bigger than canvas */
  height: 674px; /*  change to 100px bigger than canvas */
}

 .canvas {
  box-shadow: inset 0 0 1px 0 rgba(0, 0, 0, 0.2);
  background-size: cover;
  background-position: center center;
} 

#container{
  box-shadow: inset 0 0 1px 0 rgba(0,0,0,.2);
  background-size: cover;
  background-position: center center;
  width: 460px; /*  change to the size of canvas */
  height: 574px; /*  change to the size of canvas */
}

iframe {
  height: 100%;
  width: 100%;
  position: center;
}
.callback {
  position: absolute;
  font-family: monospace;
  padding-bottom: 90px;
  bottom: 0px;
} 

/*man*/
.man {
  position: absolute;
  top: 65%;
  left: 10%;
  width: 200px;
  height: 100px;

 }

/*head*/
 .head {
position: fixed;
top: 12%;
right: 3%;
width: 30px;
height: 175px;
border: 16px double #df0101;
border-radius: 30px 0px 30px 0px;
display: flex;
justify-content: left;
align-items: center;
text-align:left;
font-family: 'Bangers', cursive;
font-size: 2.5em;
color: #df0101;
background-color: #FFFCC2;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #b87f69;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 20px;
}




.sidenav a, .dropdown-btn {

  transition: 0.3s;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #e7ddc3;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.sidenav a:hover, .dropdown-btn:hover {
  color: white;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  left: 59%;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

.active {
  background-color: #00a2b8;
  color: white;
}

.dropdown-container {
  display: none;
  background-color: #00a2b8;
  padding-left: 8px;
}

.fa-caret-down {
  float: right;
  padding-right: 8px;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.barstart{
position: absolute;
top: 0%;
left: 0%;
}

a{
  text-decoration: none;
}